* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(2,0,36);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.cont {
    justify-content: center center;
    text-align: center center;
    align-items: center;
}

.menu {
    justify-content: center center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: 400ms;
}

.menu a:hover {
    color: rgb(65, 187, 187);
    background-color: black;
    border-radius: 10px;
}

.info {
    display: flex;
    justify-content: center center;
    text-align: center;
    align-items: center;
    padding-left: 10%;
    margin: 20px;
    margin-top: 30px;
}


.foto {
    width: 250px;
    border-radius: 260px;
    margin: 10px;
    border: solid aqua 2px;
    transition: 400ms;
}

.foto:hover {
    box-shadow: 5px 5px 43px 0px aqua;
-webkit-box-shadow: 5px 5px 43px 0px aqua(0,0,0,0.75);
-moz-box-shadow: 5px 5px 43px 0px aqua(0,0,0,0.75);

scale: 1.1;
}

.info p {
    font-size: 100%;
    color: white;
}

.texto {
    display: flex;
    justify-content: center center;
    text-align: center;
    align-items: center;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
}

.texto p {
    font-size: 100%;
    color: white;
}

.caja {
    justify-content: center center;
    text-align: center;
    align-items: center;
}

.mincaja img {
    margin: 20px;
}

.bt img {
    width: 200px;
    transition: 400ms;
}

.bt img:hover {
    scale: 1.2;
}

footer {
    justify-content: center center;
    text-align: center;
    align-items: center;
    color: white;
    margin: 20px;
}

@media (min-width: 300px) and (max-width: 800px) {
    .info {
        display: block;
        justify-content: center center;
        text-align: center;
        align-items: center;
        padding-left: 0%;
        margin: 20px;
        margin-top: 30px;
    }
    
    .info p {
        font-size: 100%;
        color: white;
    }

    .texto p {
        font-size: 100%;
    }

    .texto {
        display: block;
        justify-content: center center;
        text-align: center;
        align-items: center;
        margin: 10px;
        border-radius: 30px;
        padding: 0px;
    }

    .foto {
        width: 200px;
        border-radius: 260px;
        margin: 10px;
        border: solid aqua 2px;
        transition: 400ms;
    }

    .bt {
        justify-self: center center;
        text-align: center;
        align-items: center;
        display: block;
        margin: 30px;
    }
    
    
}
